:root {
    --bg-1: #ffffff;
    --shadow-1: rgb(189, 189, 189);
    --border-1: rgb(173, 173, 173);

    --btntext-1: #fff;
    --btntext-2: rgb(184, 184, 184);

    --btn-sign-1: rgb(173, 219, 193); 
    --btn-sign-2: rgb(85, 175, 85); 
}

body {
    font-family: 'Baloo 2', cursive;
    background: url("img/backgroundMain.png");
}
.wrapper {
    background-color: var(--bg-1);
    display: block;
    max-width: 300px;
    height: 450px;
    margin: auto;
    margin-top: 10%;
    padding: 20px 20px 20px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 10px 5px var(--shadow-1);
}

.wrapper::before {
    content: "";

}

.form {
    position: absolute;
    top: 50px;
}

.header {
    margin: 0.5em auto;
    font-size: 14pt;
    font-weight: lighter;
}

.input {
    width: 220px;
    height: 20px;
    border: 1px solid var(--border-1);
    border-radius: 5px;
}

.btnSign {
    font-family: 'Baloo 2', cursive;
    color: var(--btntext-1);
    background-color: var(--btn-sign-1);
    height: 30px;
    border: 1px solid var(--border-1);
    border-radius: 5px;
    position: absolute;
    top: 400px;
    left: 20px;
}

.btnSign:hover {
    background-color: var(--btn-sign-2);
}

.tabs {
    margin: -20px -20px;
}

.tabs_items {
    display: flex;
    
}

.tab_item {
    display: flex;
    flex: 0 1 50%;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--bg-1);
    border: 1px solid var(--border-1);
    box-shadow: inset -2px -2px 2px var(--shadow-1);
    color: var(--btntext-2);
}

.tab_item_active {
    display: flex;
    flex: 0 1 50%;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--bg-1);
}

.checkbox-1 {
    font-size: 13px;
    position: absolute;
    top: 350px;
    left: 20px;
}

.recPas {
    font-size: 13px;
    position: absolute;
    top: 410px;
    left: 170px;
}
